* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(253, 233, 197);
}

header {
    background-image: url('imagem/cabecalho.jpg'); /* Substitua pelo caminho correto da sua imagem */
    background-size: cover; /* Garante que a imagem cubra todo o espaço disponível */
    background-position: center; /* Centraliza a imagem */
    height: 25vh; /* Define a altura do cabeçalho para 20% da altura da tela */
    width: 100vw; /* Define a largura para 100% da tela */
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    text-align: center;
}

header h1 {
    color: rgb(7, 120, 18); /* Altera a cor do texto para branco, para se destacar */
    font-size: 2.5em; /* Aumenta o tamanho da fonte do título */
    background: none; /* Remove qualquer fundo aplicado ao texto */
}

main{
    
    text-align: center; /* Centraliza o texto horizontalmente dentro do div */
    
}

nav a {
    display: inline-block;/* Mostra os link um na frente do outro */
    margin: 0 15px; /* Espaçamento horizontal entre os links */
    color: rgb(101, 81, 43);
}

button {
    color: white;
    background-color: rgb(101, 81, 43);
    padding: 8px 15px; /* Aumenta o espaço dentro do botão */
}